@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../../public/assets/pokemon2-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}